{% load static %}
<html>

    <head>
        <title>CV</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/cv.css' %}">
    </head>

    <body>

        <div class="page-header">
            <h1><a href="/cv">Anant Kapoor CV</a></h1> 
        </div>

        <div class="content container">
            <div class="post">
                <h2>About</h2>
                <p>123 University road, Selly Oak, Birmingham</p>
                <p>+44 7890 123 456</p>
                <p>anant.kapoor@outlook.com</p>
            </div>
    
            <div class="post">
                <h2>Education</h2>
                {% for education in education %}
                <div>
                    <h4>{{ education.title }}</h4>
                    <p>Grade: {{ education.grades}}</p>
                    <p>{{education.description}}</p>
                    <div class="date">
                        <p> Graduation Date: {{education.graduation_date}}</p>
                    </div>
                    
    
        
                </div>
                {% endfor %}
            </div>
    
            <div class="post">
                <h2>Experience</h2>
                {% for experience in experience %}
                <div>
                    <h4>{{experience.title }}</h4>
                    <div class="subheading">
                        <p>{{ experience.position}}</p>
                    </div>
                    
                    <p>{{experience.text}}</p>
                    <div class="date">
                        <p>Start date: {{experience.start_date}}</p>
                        <p>End date: {{experience.end_date}}</p>
                    </div>
                    
        
                </div>
                {% endfor %}
            </div>
    
            <div class="post">
                <h2>Skills</h2>
                {% for skill in skills %}
                <div>
                    <h4>{{ skill.title }}</h4>
                    <p>{{ skill.description}}</p>
                    
                </div>
                {% endfor %}
            </div>
    
            <div class="post">
                <h2>Interests</h2>
                {% for interest in interests %}
                <div>
                    <p>{{ interest.title }}</p>
                    
                </div>
                {% endfor %}
            </div>
        </div>
        
    </body>

</html>